@import '../scss/variables';
/*----------------------------------------*/
/*  26. Coaching  Css
/*----------------------------------------*/

.coacting-question{
    & p{
        color: $heading-color;
        margin-top: 40px;
    }
    & a {
        color: $theme-color;
        font-weight: 500;
    }
}

.course-filter{
    margin-bottom: 0px;
    text-align: right;
    @media #{$md,$xs,$sm} {
        text-align: left;
        margin-bottom: 30px;
    }
   
}
.courses__thumb-logo {
	position: absolute;
	bottom: -26px;
	left: 10.1%;
}
 .courses__thumb{
    position: relative;
    &-logo{
        position: absolute;
        bottom: -26px;
        left: 10.1%;
        }
        &-img {
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
                transform: scale(1);
                transition: 0.4s ease-in-out;
                @media #{$lg,$md,$xs,$sm} {
                    width: 100%;
                }
           }
        }
    }

  .courses:hover .courses__thumb-img img{
    transform: scale(1.1);
  }  
 .courses-content {
    border: 1px solid #E7EAEF;
    padding: 30px 38px 15px 38px;
     border: 1px solid $border-color;
     &__title{
        font-size: 22px;
        line-height: 32px;
        @include transition(.3s);
        &:hover{
            color: $theme-color;
        }
     }
    
 }
 .courses__meta{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
     & ul{
        display: flex;
        justify-content: space-between;
         & li{
            border-right: 1px solid #ddd;
            text-align: center;
            width: 100%;
            &:last-child {
                width: 100%;
                border-right: 0;
            }
            & a{
                height: 50px;
                display: inline-block;
                line-height: 50px;
                width: 100%;
                font-size: 16px;
                font-weight: 400;
                @media #{$xs} {
                    font-size: 14px;
                }
                &:hover{
                background: $theme-color;
                color: $white;
                }
                &.course-link-btn {
                    text-align: center;
                    & i{
                        margin-right: 0px;
                        margin-left: 5px;
                    }
                  }
                & i{
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
         }
     }
 }
 
 .courses__meta ul li .border-none {
     border-left: none !important;
     
 }
.ask-here a{
    font-weight: 500;
    color: $heading-color;
    text-decoration: underline;
    &:hover{
        color: $theme-color;
    }
}

.courses-content.padd_top_less {
    padding-top: 10px;
}

.courses__thumb.visapass_duration {
    position: relative;
}

.visapass_duration_tag {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #E48216;
    color: #fff;
    z-index: 1;
    display: inline-block;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
}

.visapass_duration_tag i {
    line-height: 1;
    display: inline-block;
    transform: translateY(2px);
    margin-right: 3px;
}

.visapass-single-course-sidebar.sidebar-left__wrapper .visapass-btn{
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
}

.visapass-single-course-sidebar.sidebar-left__wrapper .visapass-btn:hover {
    background-color: #1A1C20;
    border-color: #1A1C20;
}

.visapass-single-course-sidebar.sidebar-left__wrapper .visapass-course-tags a {
    display: inline-block;
    height: 34px;
    line-height: 30px;
    text-align: center;
    padding: 0 19px;
    font-size: 14px !important;
    border: 2px solid #dce1e4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-right: 8px;
    margin-bottom: 10px;
    text-transform: capitalize;
    background: transparent;
}

.visapass-single-course-sidebar.sidebar-left__wrapper .visapass-course-tags a:hover {
    background: #E48216 !important;
    color: #fff;
    border-color: #E48216;
}
.sidebar__deatils_visa .visapass-single-course-meta ul li a:hover {
    color: rgb(228, 130, 22);
}
.sidebar__deatils_visa .visapass-custom-list-style li:before {
    color: rgb(228, 130, 22);
}

.sidebar__deatils_visa .visapass-single-course-meta.visapass-meta-top ul li, .sidebar__deatils_visa .visapass-single-course-meta.visapass-meta-top ul li a {
    font-weight: 400;
    color: #6f6f6f;
}

.sidebar__deatils_visa .visapass-single-course-meta ul li {
    font-weight: 400;
    color: #6f6f6f;
}
.sidebar__deatils_visa .visapass-single-course-meta.visapass-lead-meta ul li a {
    color: #6f6f6f;
    font-weight: 400;

}
.sidebar__deatils_visa .visapass-single-course-meta.visapass-lead-meta ul li a:hover, .sidebar__deatils_visa .visapass-single-course-meta.visapass-meta-top ul li a:hover {
    color: rgb(228, 130, 22);
}
.sidebar__deatils_visa ul.visapass-course-benefits-items.visapass-custom-list-style li {
    color: rgb(26, 28, 32);
    font-weight: 400;
}

ul.visapass-course-benefits-items.visapass-custom-list-style li {
    color: rgb(26, 28, 32);
    font-weight: 400;
}

.sidebar__deatils_visa .visapass-course-summery {
    color: #6f6f6f;
    font-weight: 400;
}
.sidebar__deatils_visa .visapass-course-header-h1 {
    color: rgb(26, 28, 32);
}

.sidebar__deatils_visa .visapass-segment-title, .sidebar__deatils_visa .visapass-single-course-segment .visapass-segment-title {
    color: rgb(26, 28, 32);
}
.sidebar__deatils_visa .single-instructor-wrap .visapass-instructor-left {
    display: flex;
    align-items: center;
}
.sidebar__deatils_visa .single-instructor-wrap .instructor-name h3 a {
    color: rgb(228, 130, 22);
}

.sidebar__deatils_visa .instructor-avatar .visapass-text-avatar {
    background-color: rgb(228, 130, 22) !important;
}
.sidebar__deatils_visa .single-instructor-wrap .single-instructor-bottom .ratings .rating-total-meta {
    color: rgb(228, 130, 22) !important;
}
.sidebar__deatils_visa .single-instructor-wrap .single-instructor-bottom .courses i, .sidebar__deatils_visa .single-instructor-wrap .single-instructor-bottom .students i {
    color: #E48216;
    opacity: 1;
}
.sidebar__deatils_visa .visapass-text-mute {
    color: #6f6f6f;
    font-weight: 400;
}
.sidebar__deatils_visa .visapass-single-course-meta ul li .visapass-single-course-avatar span {
    background-color: #E48216 !important;
    color: #ffffff;
}

.visapass-single-course-sidebar.sidebar-left__wrapper .visapass-price-preview-box .price {
    color: #17191D;
}
.sidebar__deatils_visa.mr-15 {
    @media #{$xs, $md} {
        margin-right: 0;
    }
}

.sidebar__deatils_visa .visapass-course-benefits-content ul {
    display: block;
    column-count: 1;

}
.sidebar__deatils_visa .single-instructor-wrap .single-instructor-bottom .courses, .sidebar__deatils_visa .single-instructor-wrap .single-instructor-bottom .students {
    @media #{$xs} {
        margin-left: 0;
        margin-right: 25px;
    }
}
.sidebar__deatils_visa .single-instructor-wrap .single-instructor-bottom .ratings {
    @media #{$xs} {
        margin-right: 25px;
    }
}